<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>
        <%= kindofday %>
    </h1>
    <ul>
        <li>Buy Food</li>
        <li>Eat Food</li>
        <li>Cook Food</li>
        <% for(var i=0; i<newLists.length ;i++){%>
            <li>
                <%=newLists[i]%>
            </li>
            <% }%>

    </ul>
    <form action="/" method="POST">
        <input type="text" name="newItem" placeholder="Enter yout list">
        <button type="submit" name="name">Add</button>
    </form>
</body>

</html>